.App {
  text-align: center;
}

.logo {
  float: left;
}

.login {
  float: right;
  padding: 10px;
}

.Form input,
.Form select {
  padding: 5px;
  margin-right: 10px;
}

.Form button {
  background-color: aquamarine;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px 5px;
}

.Form button:hover {
  cursor: pointer;
  font-weight: bold;
}

.Form select:hover {
  cursor: pointer;
}

.List {
  background-color: ghostwhite;
  min-height: 320px;
  height: auto;
  width: 80vw;
  position: relative;
  left: 10%;
  padding: 10px;
}

.List table {
  width: 100%;
}

.List th,
.List td {
  width: 33.3%;
}